<main>
  <article>
    <h1>My To-do List</h1>
    <section class = "add-todo-section">
      <input type = "text" placeholder="What's next?"/>
      <input type = "date" />
      <input type = "button" value = "Add"/>
    </section>

    <%= render partial: "section", locals: {
      heading: "Overdue", 
      todos: Todo.overdue,
      show_due_date: true
    }%>

    <%= render partial: "section", locals: {
      heading: "Due today", 
      todos: Todo.due_today,
      show_due_date: false
    } %>

    <%= render partial: "section", locals: {
      heading: "Due later", 
      todos: Todo.due_later,
      show_due_date: true
    } %>
  </article>
</main>