.current-login {
  padding: 7px 2px;
  margin: 10px 0px;
  background: lightgray;
}

.current-login .UserDiv {
  display: flex;
  justify-content: space-between;
}

.current-login a {
  text-decoration: none;
  padding: 2px 5px;
}

div.error-msg {
  color: red;
  margin: 10px 0px;
}